@charset "utf-8";
html, body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    border: none;
    padding: 0;
}

body {
    overflow: visible;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #fff;
    color: #333;
    font-size: 16px;
    line-height: 1.5em;
}

.wrapper {
    overflow: visible;
    margin: 0 auto;
    width: 100%;
    max-width: 1024px;
    height: 100%;
    border: none;
    padding: 0;
    box-sizing: border-box;
}

/* --- header --- */

header {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    background: #555;
    color: #fff;
}

header h1 {
    margin: 0;
    padding: 0;
    font-size: 25px;
    line-height: 30px;
}

/* --- menu --- */

menu {
    overflow: hidden;
    position: absolute;
    top: 30px;
    left: 0;
    margin: 0;
    width: 200px;
    height: calc(100% - 30px);
    padding: 0;
    background-color: #555;
    color: #fff;
}

menu ul {
    display: block;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0;
    width: calc(100% + 17px);
    height: 100%;
    border: 0;
    padding: 0;
    list-style: none;
}

menu li {
    box-sizing: border-box;
    display: block;
    margin: 0;
    width: 100%;
    height: 30px;
    padding: 0;
    font-size: 18px;
    line-height: 30px;
    transition: all .3s ease;
}

menu li:hover {
    background: #fff;
    color: #555;
}

menu a {
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
}

menu a, menu a:active, menu a:hover, menu a:visited, menu a:link {
    color: inherit;
    text-decoration: none;
}

/* --- body --- */

main {
    overflow: auto;
    position: absolute;
    top: 30px;
    left: 0;
    width: calc(100% - 200px);
    height: calc(100% - 30px);
    background: #eee;
    transition: transform .3s ease;
    transform: translateX(200px);
}

@media screen and (max-width: 700px) {
    main {
        width: calc(100% - 30px);
        min-width: 320px;
        transform: translateX(30px);
    }
    menu:hover+main {
        transform: translateX(200px);
    }
}

main section {
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    height: auto;
    padding: 0 2% 10px;
}

/* --- metrics --- */

.metrics {
    display: block;
    margin: 0;
    width: 100%;
    height: auto;
    border: 0;
    padding: 0;
    list-style: none;
}

.metrics:after {
    clear: both;
    display: block;
    content: "";
}

.metrics li {
    float: left;
    display: block;
    margin: 0 1em 1em 0;
    width: auto;
    height: 70px;
    padding: 0;
    box-sizing: content-box;
    background: #fff;
}

.metrics li>div {
    display: none;
}

.metrics li>div:first-child, .metrics li>div:last-child {
    display: block;
    margin: 0;
    width: auto;
    box-sizing: border-box;
    box-shadow: 0px 0px 1px #ddd;
    white-space: nowrap;
}

.metrics li>div:first-child {
    height: 50px;
    padding: 10px 10px;
    text-align: center;
    font-size: 26px;
    line-height: 30px;
}

.metrics li>div:first-child :not(:first-child) {
    color: #999;
    font-size: 16px;
}

.metrics li>div:last-child {
    height: 20px;
    padding: 0 10px;
    background: #ddd;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
}

/* --- tabs --- */

.tabs {
    position: relative;
    width: 100%;
    height: auto;
    padding: 0 0 30px;
}

.tabs>input {
    display: none;
}

.tabs>label {
    float: left;
    display: block;
    width: 100%;
    box-shadow: 0px 0px 1px #ddd;
    background: #fff;
    text-align: center;
    transition: background .2s ease;
}

.tabs>label:nth-last-of-type(2), .tabs>label:nth-last-of-type(2)~label {
    width: calc(100% / 2);
}

.tabs>label:nth-last-of-type(3), .tabs>label:nth-last-of-type(3)~label {
    width: calc(100% / 3);
}

.tabs>label:nth-last-of-type(4), .tabs>label:nth-last-of-type(4)~label {
    width: calc(100% / 4);
}

.tabs>label:nth-last-of-type(5), .tabs>label:nth-last-of-type(5)~label {
    width: calc(100% / 5);
}

.tabs>label:nth-last-of-type(6), .tabs>label:nth-last-of-type(6)~label {
    width: calc(100% / 6);
}

.tabs>label:nth-last-of-type(7), .tabs>label:nth-last-of-type(7)~label {
    width: calc(100% / 7);
}

.tabs>label:nth-last-of-type(8), .tabs>label:nth-last-of-type(8)~label {
    width: calc(100% / 8);
}

.tabs>input:not(:checked)+label:hover {
    background: #eee;
}

.tabs>div {
    position: relative;
    top: 30px;
    left: 0;
    display: none;
    width: 100%;
    height: auto;
}

.tabs>input:checked+label {
    background: #666;
    color: #fff;
}

.tabs>input:nth-of-type(1):checked~div:nth-of-type(1), .tabs>input:nth-of-type(2):checked~div:nth-of-type(2), .tabs>input:nth-of-type(3):checked~div:nth-of-type(3), .tabs>input:nth-of-type(4):checked~div:nth-of-type(4), .tabs>input:nth-of-type(5):checked~div:nth-of-type(5), .tabs>input:nth-of-type(6):checked~div:nth-of-type(6), .tabs>input:nth-of-type(7):checked~div:nth-of-type(7), .tabs>input:nth-of-type(8):checked~div:nth-of-type(8) {
    display: block;
}

/* --- table --- */

table {
    width: 100%;
    height: auto;
    border: 1px #ddd solid;
    border-collapse: collapse;
    border-spacing: 0;
    box-sizing: border-box;
    font-size: 1em;
    white-space: nowrap;
}

table thead {
    min-width: 100%;
    background: #ddd;
    text-align: left;
}

table tbody {
    min-width: 100%;
    background: #fff;
    font-size: .8em;
}

table tr {
    border-width: 0 0 1px;
    border-color: #ddd;
    border-style: solid;
}

table tr:last-child {
    border-bottom: 0;
}

table tr>* {
    border: none;
}

table th {
    font-weight: bold;
}

table th, table td {
    padding: 5px 10px;
}

/* --- dl --- */

dl {
    margin: 0;
    width: 100%;
    height: auto;
    border: 1px #ddd solid;
    padding: 0;
    background: #ddd;
}

dl dt {
    float: left;
    margin: 0;
    width: 25%;
    height: auto;
    border-top: 1px #fff solid;
    padding: 0;
}

dl dd {
    box-sizing: border-box;
    margin: 0 0 0 25%;
    width: 75%;
    height: auto;
    border-top: 1px #ddd solid;
    padding: 5px;
    background: #fff;
}

dl dt:first-of-type, dl dd:first-of-type {
    border: none;
}

dl dd:after {
    content: "";
    display: block;
    clear: both;
}

/* --- icon --- */

.icon-error, .icon-info, .icon-warn, .icon-null, .icon-check, .icon-cross {
    position: relative;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: top;
}

/* --- icon info --- */

.icon-info {
    background: #37b;
}

.icon-info::before, .icon-info::after {
    left: 42.5%;
    position: absolute;
    display: block;
    content: "";
    background: #fff;
}

.icon-info::before {
    top: 10%;
    width: 15%;
    height: 15%;
    border-radius: 50%;
}

.icon-info::after {
    top: 35%;
    width: 15%;
    height: 55%;
}

/* --- icon warn --- */

.icon-warn {
    border-color: transparent transparent #ea5 transparent;
    border-style: solid;
    border-width: .2em .75em 1.3em .75em;
    box-sizing: border-box;
}

.icon-warn::before, .icon-warn::after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: "";
    background: #555;
}

.icon-warn::before {
    width: .2em;
    height: .6em;
    transform: translateX(-.1em) translateY(.3em);
}

.icon-warn::after {
    width: .2em;
    height: .2em;
    transform: translateX(-.1em) translateY(1em);
}

/* --- icon error --- */

.icon-error {
    background: #d55;
    border-radius: 50%;
}

.icon-error::before, .icon-error::after {
    position: absolute;
    top: 42.5%;
    left: 10%;
    display: block;
    content: "";
    width: 80%;
    height: 15%;
    background: #fff;
}

.icon-error::before {
    transform: rotate(45deg);
}

.icon-error::after {
    transform: rotate(-45deg);
}

/* --- icon cross --- */

.icon-cross::before, .icon-cross::after {
    position: absolute;
    top: 40%;
    left: 5%;
    display: block;
    content: "";
    width: 90%;
    height: 20%;
    background: #d55;
}

.icon-cross::before {
    transform: rotate(45deg);
}

.icon-cross::after {
    transform: rotate(-45deg);
}

/* --- icon check --- */

.icon-check::before {
    position: absolute;
    top: calc(50% - 15% - .15em);
    left: calc(50% - 25% - .15em);
    display: block;
    content: "";
    width: 70%;
    height: 40%;
    border-width: 0 0 .3em .3em;
    border-color: #5d5;
    border-style: solid;
    box-sizing: border-box;
    transform: rotate(-50deg);
}

/* --- form --- */

form {
    width: 100%;
    height: auto;
}

form input[type="text"],
form input[type="date"],
form input[type="datetime"],
form input[type="month"],
form input[type="password"],
form input[type="email"],
form input[type="number"],
form input[type="search"],
form input[type="time"],
form input[type="url"], 
form textarea,
form select {
    outline: 0;
    margin: 0;
    width: 100%;
    border: none;
    border-radius: 4px;
    padding: 7px;
    background: rgba(0, 0, 0, .1);
    box-sizing: border-box;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset;
    font-size: 16px;
}

form input[type="text"]:focus,
form input[type="date"]:focus,
form input[type="datetime"]:focus,
form input[type="month"]:focus,
form input[type="password"]:focus,
form input[type="email"]:focus,
form input[type="number"]:focus,
form input[type="search"]:focus,
form input[type="time"]:focus,
form input[type="url"]:focus,
form textarea:focus,
form select:focus {
    background: #d2d9dd;
}

form select {
    height: 35px;
}

form .operations{
    display: block;
    margin-top: 10px;
    text-align: center;
}

form input[type="submit"],
form input[type="button"],
form button {
    position: relative;
    display: block;
    width: auto;
    height: auto;
    border: none;
    border-radius: 3px;
    border-bottom: solid 4px #627295;
    padding: .5em 1em;
    background: #668ad8;
    font-size: 18px;
    text-align: center;
    color: #fff;
}

form input[type="submit"]:hover,
form input[type="button"]:hover,
form button:hover {
    opacity: .9;
}

form input[type="submit"]:active,
form input[type="button"]:active,
form button:active {
    transform: translateY(4px);
    border-bottom-color: transparent;
}

form .operations input[type="submit"],
form .operations form input[type="button"],
form .operations button{
    display: inline-block;
}

form .operations :not(:first-child){
    margin-left: 10px;
}